/* content */

.contents-parent-container {
  background-color: yellowgreen;
  position: relative;
  top: 106px;
  left: 250px;
  right: 0;
  bottom: 0;
  width: calc(100% - 250px);
  min-height: 600px;
}

.contentShortSidenavChange{
  background-color: yellowgreen;
  position: relative;
  top: 106px;
  left: 82px;
  right: 0;
  bottom: 0;
  width: calc(100% - 82px);
  min-height: 600px;
}

.content-container {
  background-color: cyan;
  margin-bottom: 40px;
}