.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0f0f;
    color: #fff;
    text-align: center;
  }
  
  .page-not-found h1 {
    font-size: 6rem;
    margin-bottom: 20px;
  }
  
  .page-not-found p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .page-not-found .home-link {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
  }
  
  .page-not-found .home-link:hover {
    background-color: #cc0000;
  }
  