.header-main-container {
  background-color: #0f0f0fcc; /* Making the background semi-transparent */
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 2px 16px;
  display: flex;
  justify-content: space-between;
  
  backdrop-filter: blur(50px); /* Applying the blur effect */
  -webkit-backdrop-filter: blur(50px); /* Safari support */
}


/* header child 1 */
.header-child-container-1 {
  /* background-color: rgb(240, 153, 22); */
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.hamburger-icon {
  /* background-color: brown; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.hamburger-icon:hover {
  font-size: larger;
  cursor: pointer;
  background-color: rgb(36, 35, 35);
  border-radius: 50%;
}

.hamburger-icon img{
}

.youtube-icon-parent {
  cursor: pointer;
}

.youtube-icon-parent img{
  margin-top: 5px;
}

/* header child 2 */
.header-child-container-2 {
  /* background-color: rgb(208, 137, 31); */
  width: 750px;
  height: 100%;
  display: flex;
  padding: 5px 0;
  box-sizing: border-box;
}

.search-parent-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: rgb(115, 188, 206); */
  gap: 20px;
  width: 100%;
}

.search-container {
  display: flex;
  /* background-color: rgb(255, 127, 187); */
  height: 100%;
}

.search-input {
  background-color: #121212;
  border: none;
  color: #E2E2E2;
  font-size: medium;
  padding: 5px 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #373737;
  width: 550px;
}

.search-input:focus {
  outline: none;
  border: 1px solid rgb(33, 112, 230);
}

/* adding search icon while focusing css starts*/

.search-inputExtra {
  padding-left: 35px;
}

.search-icon {
  position: absolute;
  left: 405px;
  top: 55%;
  transform: translateY(-50%);
  color: #ccc;
  visibility: hidden; /* Initially hidden */
  opacity: 0;
}

.search-icon img{
  width: 20px;
  height: 20px;
}

.search-container.focused .search-icon {
  visibility: visible; /* Show when input is focused */
  opacity: 1;
}


/* adding search icon while focusing css ends*/

.search-btn {
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid #373737;
  border-left: none;
}

.search-btn:hover {
  cursor: pointer;
}

.microphone {
  background-color: #222222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.microphone:hover {
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  border: none;
}

/* header child 3 */
.header-child-container-3 {
  /* background-color: rgb(126, 90, 35); */
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.create {
  margin-left: 10px;
  /* width: 40px;
    height: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  background-color: #222222;
  border-radius: 20px;
  padding: 5px 8px;
}

.create:hover {
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}

.bell,
.profile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  margin-left: 10px;
}

.bell:hover,
.profile:hover {
  background-color: rgb(36, 35, 35);
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.profile img{
  border-radius: 50%;
}