/* genres top nav */
.genres-parent-container {
  background-color: #0f0f0fcc;
  /* background-color: deeppink; */
  z-index: 50;
  position: fixed;
  top: 54px;
  left: 220px;
  right: 0;
  bottom: 0;
  height: 50px;
  margin-left: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.genresShortSidenavChange {
  background-color: #0f0f0fcc;
  /* background-color: deeppink; */
  position: fixed;
  top: 54px;
  left: 60px;
  right: 0;
  bottom: 0;
  height: 50px;
  margin-left: 20px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.genreSubContainerShort{
  /* background-color: crimson; */
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 10px;
}

.genreSubContainer {
  /* background-color: crimson; */
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 10px;
}

.genre-scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease;
  will-change: transform;
}

.genreItem {
  min-height: 32px;
  background-color: #222;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  color: #f1f1f1;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: background-color .5s ease-in-out;
}

.genreItem:hover {
  cursor: pointer;
  background-color: #3a3a3a;
  transition: background-color .3s ease-in-out;
}

.genreItem:focus {
  color: #222;
  background-color: #f1f1f1;
}

.arrow-button-left {
  position: relative;
  z-index: 100;
  top: 0;
  left: 10px;
  background-color: #0f0f0f;
  color: #fff;
  border: none;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.arrow-button-left:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}

.arrow-button-left:focus {
  outline: none;
}

.arrow-button-right {
  position: relative;
  z-index: 100;
  top: 0;
  right: 10px;
  background-color: #0f0f0f;
  color: #fff;
  border: none;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
}

.arrow-button-right:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  color: #666666;
}

.arrow-button-right:focus {
  outline: none;
}
